<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/main :: common_header(~{::title},~{})">
    <title>CarEE | Add Car</title>
</head>

<body>
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>

<!-- Header - NavBar -->
<div th:replace="fragments/header :: header"></div>

<main class="main oh">
    <section class="section-wrap white-text" id="contact"
             th:style="'background-image:url(' + @{/img/results_bg.jpg} + ');'">
        <div class="container">

            <div class="heading-row text-center">
                <h2 class="heading">Add Car</h2>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form id="form" method="post" action="#" th:action="@{/auth/add-car}" th:object="${createCar}"
                          class="text-center">
                        <div class="row">

                            <div class="col-md-6 col-lg-offset-3">
                                <select th:field="*{categoryId}" name="carCategory">
                                    <option value="0">Please choose an category</option>
                                    <option th:each="c: ${categoryList}" th:value="${c.id}"
                                            th:text="${c.name}"></option>
                                    </th:each>
                                </select>
                            </div>

                            <div class="col-md-6 col-lg-offset-3">
                                <input th:field="*{name}" type="text" placeholder="Name"/>
                            </div>

                            <div class="col-md-6 col-lg-offset-3">
                                <input th:field="*{description}" type="text" placeholder="Description">
                            </div>

                            <div class="col-md-6 col-lg-offset-3">
                                <input th:field="*{price}" type="number" placeholder="70000">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-offset-3">
                            <input type="submit" class="btn btn-lg btn-color btn-button" value="Add Car">
                        </div>

                        <div class="col-md-6 col-lg-offset-3 mt-20 error-message" th:if="${#fields.hasAnyErrors()}">
                            <p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section-wrap bg-light pb-90">
        <div class="container">

            <div class="heading-row text-center">
                <h2 class="heading">FEATURES</h2>
            </div>

            <div class="row">
                <div class="col-md-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="feature-1 feature-1--sm-padding box-shadow">
                        <i class="feature__icon icon icon-mobile"></i>
                        <h3 class="feature__title">Responsive</h3>
                    </div>
                </div>

                <div class="col-md-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="feature-1 feature-1--sm-padding box-shadow">
                        <i class="feature__icon icon icon-layers"></i>
                        <h3 class="feature__title">Multi-platform</h3>
                    </div>
                </div>

                <div class="col-md-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="feature-1 feature-1--sm-padding box-shadow">
                        <i class="feature__icon icon icon-speedometer"></i>
                        <h3 class="feature__title">Efficient</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</main>

</body>
</html>